.services__list-icon-wrapper {
  width: 80px;
}
.services__item-name {
  width: 290px;
  font-size: 14px;
  color: #333333;
  font-family: 'Montserrat';
  text-transform: uppercase;
  padding-bottom: 15px;
}
.services__item-text {
  width: 290px;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: 'Roboto';
  padding-bottom: 95px;
}
